.dialog-content {
  padding: 20px;
  margin: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 12px;
}

.title {
    padding: 8px;
    margin: 8px;
}