<h2 class="title">Add Department</h2>

<form [formGroup]="form" class="form">

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Department Name</mat-label>
    <input matInput formControlName="name" />

    @if (form.controls.name.invalid && form.controls.name.touched) {
      <mat-error>
        Name is required (min 2 characters)
      </mat-error>
    }
  </mat-form-field>

  @if (errorMessage()) {
    <div class="error">{{ errorMessage() }}</div>
  }

  <div class="actions">
    <button mat-stroked-button (click)="close()">Cancel</button>

    <button
      mat-flat-button
      color="primary"
      [disabled]="form.invalid || isSubmitting()"
      (click)="submit()"
    >
      @if (isSubmitting()) { Saving... } @else { Create }
    </button>
  </div>
</form>
