.full-width-table {
  width: 100%;
}

.clickable-cell {
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}

.empty {
  text-align: center;
  padding: 16px;
  font-style: italic;
  color: #777;
}
